body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* голубий фон */
}
header {
    background-color: #4b0082; /* фіолетовий фон */
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #4682b4; /* голубий навігатор */
}
nav a {
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
nav a:hover {
    background-color: #6a5acd; /* темно-фіолетовий при наведенні */
}
.content {
    padding: 20px;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.portfolio-item {
    margin-bottom: 15px;
}
iframe {
    width: 100%;
    height: 500px;
    border: none;
}
